# Exploratory Data Analysis

## Imports, Read-in

In [54]:
# Data manip.
import pandas as pd
import numpy as np

# Vizz
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# scikit-learn
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV
from sklearn.pipeline import Pipeline

# NLTK
import nltk
from nltk.corpus import stopwords
sw = stopwords.words('english')

# etc.
import sys
sys.path.append( '../src' )
from parse_it import *

In [55]:
df_good = pd.read_csv('../../data/good.csv')
df_promo = pd.read_csv('../../data/promotional.csv')

In [56]:
parse_doc(df_good.iloc[138].text)

NameError: name 'stem' is not defined

In [20]:
df_good.iloc[138].text

"The 8th Military Police Brigade is a military police brigade of the United States Army based at Schofield Barracks, Hawaii. It is responsible for Army military police units within the United States Indo Pacific Command Area of Responsibility. Activated during the Vietnam War, the 8th Military Police Brigade was specifically organized to provide planning, direction, and supervision for the criminal investigation work required by the U.S. Army in Vietnam. It replaced a provisional Military Police Group Criminal Investigation that had been formed on 3 November 1966 in charge of all criminal investigative work in Vietnam, except for the metropolitan Saigon area. In July 1972, it became the basis for the U.S. Army Criminal Investigation Center, Vietnam Field Office. It served in the region for several years and earning ten campaign streamers before being deactivated during the American forces pullout from the region. The brigade was reactivated in Korea in the 1980s to provide command and control for all U.S. Pacific military police forces, and has since been moved to Hawaii, where much of U.S. Army Pacific is located. The Brigade is a subordinate unit of U.S. Army Pacific and the Eighth Theater Sustainment Command It falls under the direct command of the 8th Theater Sustainment Command. Currently, the 8th Military Police Brigade consists of two battalions the 303rd Explosive Ordnance Disposal Battalion and the 728th Military Police Battalion, which contains the 57th, 58th, 552nd, 558th Military Police companies and the 39th and 13th Military Police detachments, as well as one brigade attached company, the 71st Chemical Company. The 8th Military Police Group was originally constituted on 8 April 1967 in the regular army and activated on 26 July at Fort Riley, Kansas. After seeing only five months of duty, the group was again deactivated on 18 December of that year. On 24 August 1968 the group was again activated, this time in Vietnam. Its activation was part of a larger activation of several military police groups in the region to provide greater command and control for Military Police operating throughout the region. As such, the headquarters element took command of military police units already operating in the country. The Brigade provided policing duties, based in Long Binh along with the 89th Military Police Group. During that time it was a subordinate unit of the 18th Military Police Brigade. It received its distinctive unit insignia on 12 November 1969. The group operated in Vietnam until the pullout of U.S. forces from the nation, receiving ten campaign streamers for its role in the conflict. The 8th Military Police Brigade Provisional was constituted in South Korea in September 1984 in response to the need for cohesive command and control element in the event of war, for the numerous non divisional Military Police units on the peninsula. At the time it consisted of the 94th Military Police Battalion in Yongsan Seoul and the 728th Military Police Battalion in Taegu Camp Walker . However, the brigade would remain provisional and would not be officially activated for another ten years while it operated in this capacity. In 1995, the concept plan was approved for the activation of a military police brigade headquarters in Korea. The 8th MP Brigade was officially activated on 16 April 1996 to provide command and control for the 728th Military Police Battalion and the 94th Military Police Battalion in armistice and to serve as the theater military police brigade during hostilities. The same day, it received its shoulder sleeve insignia. In July 2006, the 8th MP Brigade Headquarters and the 728th MP Battalion were reassigned to U.S. Army Pacific and moved from Korea to Schofield Barracks, Hawaii. It was placed under the command of the newly created 8th Theater Sustainment Command. The command is responsible for preparing the 25th Infantry Division and other 8th Army units for worldwide deployment. Subordinate units of the brigade's 728th MP Battalion deployed to Iraq in October 2004 to provide military police duties while the Army formed a clear rotational schedule for MP units coming and going from the country during Operation Iraqi Freedom. In October 2007, the Brigade again deployed elements of the 728th MP Battalion to Iraq for 15 months in support of Operation Iraqi Freedom. The units suffered several casualties, including soldiers killed in ambushes and vehicle accidents. Brigade headquarters deployed in the fall of 2008 in support of Operation Iraqi Freedom. In July 2008, the 8th MP Brigade began its move into Iraq with a pre deployment site survey to support the upcoming deployment into the country. The brigade headquarters replaced the 18th Military Police Brigade, which ended its deployment in fall of 2008. The 8th MP brigade continued the training and expansion of the national Iraqi Police force in the Baghdad area. On 2 December, the brigade officially took control from the 18th MP brigade and began its deployment."

In [21]:
df_promo.iloc[138].text

'Susan Abrams born 1964 is an American business executive who is the Chief Executive Officer of the Illinois Holocaust Museum and Education Center. Abrams was born in New York City and attended the University of Pennsylvania, graduating in 1986 from the Wharton School summa cum laude. Abrams went on to get her Master of Management from Kellogg Graduate School of Management at Northwestern University. Abrams has served on the Chicago Childrens Museum Board of directors as well as the Board of Advisors for the Womens Business Association and Center for Nonprofit Management at Kellogg School of Management. After graduation, Abrams became a financial analyst at Goldman Sachs and, later, a management consultant at McKinsey Company. After McKinsey, Abrams took the position of Vice President of Business, Strategic Planning, Marketing and Communications at the Chicago Childrens Museum. In 1997, Abrams left the Chicago Childrens Museum. Three years later, she published The New Success Rules for Women 10 Surefire Strategies for Reaching Your Career Goals. After this, she founded a residential real estate company. In 2009, Abrams became the Director of Program Review at Northwestern University. After two years there, Abrams moved on to become COO of JCC Chicago. Since 2014, Abrams has been the CEO of the Illinois Holocaust Museum and Education Center.'

In [22]:
print(df_good.shape)
print(df_promo.shape)

(30279, 2)
(23837, 7)

In [23]:
df_good.head(3)

,text,url
0,Nycticebus linglom is a fossil strepsirrhine p...,https://en.wikipedia.org/wiki/%3F%20Nycticebus...
1,Oryzomys pliocaenicus is a fossil rodent from ...,https://en.wikipedia.org/wiki/%3F%20Oryzomys%2...
2,.hack dt hk is a series of single player actio...,https://en.wikipedia.org/wiki/.hack%20%28video...

In [24]:
df_promo.head(3)

,text,advert,coi,fanpov,pr,resume,url
0,"1 Litre no Namida 1, lit. 1 Litre of Tears als...",0,0,1,0,0,https://en.wikipedia.org/wiki/1%20Litre%20no%2...
1,"1DayLater was free, web based software that wa...",1,1,0,0,0,https://en.wikipedia.org/wiki/1DayLater
2,1E is a privately owned IT software and servic...,1,0,0,0,0,https://en.wikipedia.org/wiki/1E

In [25]:
df_good.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30279 entries, 0 to 30278
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    30279 non-null  object
 1   url     30279 non-null  object
dtypes: object(2)
memory usage: 473.2+ KB

In [26]:
df_promo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23837 entries, 0 to 23836
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    23837 non-null  object
 1   advert  23837 non-null  int64
 2   coi     23837 non-null  int64
 3   fanpov  23837 non-null  int64
 4   pr      23837 non-null  int64
 5   resume  23837 non-null  int64
 6   url     23837 non-null  object
dtypes: int64(5), object(2)
memory usage: 1.3+ MB

In [17]:
for col in df_promo.select_dtypes(include='number'):
    print(f"{df_promo[[col]].value_counts()}\n")

advert
1         18911
0          4926
dtype: int64

coi
0      21695
1       2142
dtype: int64

fanpov
0         22341
1          1496
dtype: int64

pr
0     22321
1      1516
dtype: int64

resume
0         21639
1          2198
dtype: int64

## Set-up for Simple Binary Classification

In [17]:
df_good = df_good[['text']]
df_promo = df_promo[['text']]

In [24]:
df_good['label'] = 0
df_good.head(3)

                                                text  label
0  Nycticebus linglom is a fossil strepsirrhine p...      0
1  Oryzomys pliocaenicus is a fossil rodent from ...      0
2  .hack dt hk is a series of single player actio...      0

In [29]:
df_promo['label'] = 1
df_promo.head(3)

                                                text  label
0  1 Litre no Namida 1, lit. 1 Litre of Tears als...      1
1  1DayLater was free, web based software that wa...      1
2  1E is a privately owned IT software and servic...      1

In [30]:
df = df_good.append(other=df_promo,
                    ignore_index=True)

In [31]:
df

                                                    text  label
0      Nycticebus linglom is a fossil strepsirrhine p...      0
1      Oryzomys pliocaenicus is a fossil rodent from ...      0
2      .hack dt hk is a series of single player actio...      0
3      The You Drive Me Crazy Tour was the second con...      0
4      0 8 4 is the second episode of the first seaso...      0
...                                                  ...    ...
54111  ZURICH.MINDS is a non profit foundation set up...      1
54112  zvelo, Inc. or simply zvelo is a privately hel...      1
54113  Zygote Media Group is a 3D human anatomy conte...      1
54114  Zylom is a distributor of casual games for PC ...      1
54115  Zynx Health Incorporated is an American corpor...      1

[54116 rows x 2 columns]